# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
main

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Vim swap files
*.swp

# LaTeX stuff
*.aux
*.bbl
*.synctex.gz
*.pdf
*.log
